{% extends "includes/base.html" %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">SI</th>
        <th scope="col">Flight</th>
        <th scope="col">Public Transit</th>
        <th scope="col">Flight Emission</th>
        <th scope="col">Public Transit Emisssion</th>
        <th scope="col">Gasolin Car owned</th>
        <th scope="col">Diesel Car owned</th>
        <th scope="col">Electric Car owned</th>
        <th scope="col">Hybrid Car owned</th>
        <th scope="col">Gasolin Car Driven</th>
        <th scope="col">Diesel Car Driven</th>
        <th scope="col">Electric Car Driven</th>
        <th scope="col">Hybrid Car Driven</th>
      </tr>
    </thead>
    <tbody>
              <tr>
                <td><a class="nav-link" href="{{item.id}}">{{item.id}}</a></td>
                <td>{{item.flight_distance}} {{item.flight_unit}} </td>
                <td>{{item.public_transit_distance}} {{item.transit_unit}}</td>
                <td>{{item.flight_emission}} {{item.flight_emission_unit}}</td>
                <td>{{item.public_transit_emission}} {{item.transit_emission_unit}}</td>
                <td>{{item.num_of_gasolin_cars}}</td>
                <td>{{item.num_of_diesel_cars}}</td>
                <td>{{item.num_of_electric_cars}}</td>
                <td>{{item.num_of_hybrid_cars}}</td>
                <td>{{item.gasoline_car_driven}} {{item.gasolin_car_unit}}</td>
                <td>{{item.diesel_car_driven}} {{item.diesel_car_unit}}</td>
                <td>{{item.electric_car_driven}} {{item.electric_car_unit}}</td>
                <td>{{item.hybrid_car_driven}}{{item.hybrid_car_unit}}</td>







              </tr>
    </tbody>
</table>
{% endblock %}