{% extends "includes/base.html" %}

{% block content %}

{% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}" role="alert">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}



  <div class="justify-content-center">
    <h4>{{ heading|capfirst }}</h4>
  </div>
  
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
        </svg>
      </th>
      <th>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="No of People">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
        </svg>
      </th>
      

      <!-- <th scope="col">Update</th> -->
     <!-- <th>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
      </svg>
    </th> -->
      <!-- <span class="glyphicon">&#x270f;</span> -->
  
      <!-- <th scope="col">delete</th> -->
       <th>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
          <path d="M14 3a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2M3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5s-3.69-.311-4.785-.793"/>
        </svg>
      </th>

    </tr>
  </thead>
  <tbody >
  

    {% for object in object_list %}
    
    <tr>

      <td><a class="nav-link" href="#">{{object.pk}}</a></td>
      <td><a class="nav-link" href="#">{{object.num_people}}</a></td>

      <!-- <td><a class="nav-link" href="{{object.get_absolute_url}}/update">{{object.pk}}</a></td> -->
      <td><a class="nav-link" href="{{object.get_absolute_url}}/delete">{{object.pk}}</a></td>
    </tr> 
    {% endfor %}

   
  </tbody>
  </table>

  <!-- pagination starts-->

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"> 
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
          {% else %}
          <li class="page-item disabled"> 
            <a class="page-link" href="#">Previous</a>
          </li>
        {% endif %}
          <li class="page-item active"> 
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
          </li>
        {% if page_obj.has_next %}
          <li class="page-item"> 
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>

          {% else %}
          <li class="page-item disabled"> 
            <a class="page-link" href="#">Next</a>
          </li>
        {% endif %}
    </ul>
  </nav>
  <!-- pagination ends-->

{% endblock %}