{% extends "includes/base.html" %}

{% block content %}
<main>
    <section class="our-mission">
        <h2>Our Mission</h2>
        <p>EcoLens is dedicated to empowering individuals to reduce their carbon footprint and live more sustainably. We believe that small changes can make a big difference.</p>
    </section>
    <section class="our-team">
        <h2>Our Team</h2>
        <p>Meet the passionate individuals behind EcoLens
            <a href="https://diptu.github.io/">Diptu</a>
        </p>
        </section>
    <section class="our-values">
        <h2>Our Values</h2>
        <ul>
            <li>Sustainability</li>
            <li>Innovation</li>
            <li>User-Centricity</li>
            <li>Transparency</li>
        </ul>
    </section>
    <section class="why-eco-lens">
        <h2>Why EcoLens?</h2>
        <p>Discover how EcoLens sets itself apart from other sustainability tools.</p>
        </section>
</main>
{% endblock %}